<div id="<%= dom_id cadastro %>">
  <p>
    <strong>Name:</strong>
    <%= cadastro.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= cadastro.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cadastro.email %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= cadastro.birth&.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Doc cpf:</strong>
    <%= cadastro.doc_cpf %>
  </p>

  <p>
    <strong>Doc rg:</strong>
    <%= cadastro.doc_rg %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= cadastro.goal %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= cadastro.bio %>
  </p>

  <p>
    <strong>Found:</strong>
    <%= cadastro.found %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= cadastro.start_date&.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= cadastro.end_date&.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cadastro.status %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= cadastro.created_at&.strftime("%d/%m/%Y") %>
  </p>

</div>
