<h1>Pacientes</h1>   
<div class="notif-container">
  <div class="accordion accordion-flush" id="birthNotif">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Notificações:
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#birthNotif">
        <div class="accordion-body">
          <div>
              <%="Estamos no mês #{Date.today.month}:" %></h4>
              <% @cadastros.each do |cadastro| %>
                <%if cadastro.birth.month == Date.today.month %>
                  <li><%= "Esse mês temos o aniversário de #{cadastro.name} dia #{cadastro.birth.day}." %></li>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="cadastros">
  <table>
    <thead>
      <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Nascimento</th>
      <th>Objetivo</th>
      <th>Status</th>
    </thead>
    <tbody>
      <% @cadastros.each do |cadastro| %>
        <tr>
          <td><%= cadastro.name %></td>
          <td><%= cadastro.phone %></td>
          <td><%= cadastro.email %></td>
          <td><%= cadastro.birth&.strftime("%d/%m/%Y") %></td>
          <td><%= cadastro.goal %></td>
          <td><%= cadastro.status %></td>
          <td><%= link_to "Show this cadastro", cadastro %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Novo cadastro", new_cadastro_path %>
